body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
  background-color: #f5f5f5;
  padding: 0 20px;
  line-height: 1.6;
  font-size: 18px;

  margin: 0;
  padding: 0;

  display: grid;
  grid-template-columns: 1fr minmax(auto, 1000px) 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 20px;
}

main {
  grid-column: 2 / 3;

  display: grid;
  grid-template-columns: auto auto 1fr;
  gap: 1em;
}

header {
  grid-column: 2 / 3;
}

main article {
  grid-column: span 3;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: center;
  font-size: clamp(1em, 2.6vw, 2em);
}

.month {
  font-weight: bold;
}

.date .month {
  font-variant: small-caps;
}

.date .month, .date .year, .day {
  line-height: 0.9;
  margin-bottom: 0.2em; /* Adjusts bottom margin */
}

.day {
  font-size: clamp(2em, 10vw, 8em);
  font-weight: bold;
  margin-bottom: 0;
  align-self: center;
  text-align: center;
  padding-bottom: .1em;
}

.post-details h2 {
  margin-bottom: 0.5em;
}

footer {
  grid-column: 2 / 3;
}



@media (max-width: 1200px) {
  main {
    grid-template-columns: auto min-content;
    row-gap: 0;
    column-gap: 0.7em;
  }

  .day {
    font-size: 3em;
  }

  /* .date {
    align-items: start;
    flex-direction: row;
  } */

  .year {
    margin-left: 0.2em;
  }

  .post-details h2 {
    margin-top: .3em;
  }

  .post-details {
    grid-column-end: span 2;
    margin-bottom: 1.5em;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  line-height: 1.2;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.25em;
}

h6 {
  font-size: 1em;
}

p {
  margin-bottom: 1.6em;
}

ul, ol {
  margin-bottom: 1.6em;
}

li {
  margin-bottom: 0.8em;
}

a {
  color: inherit;
  text-decoration-color: orange;
}

a:hover {
  color: rgb(222, 145, 2);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

code {
  font-family: "Courier New", Courier, monospace;
  background-color: #f8f8f8;
  padding: 2px 4px;
  font-size: 0.9em;
}

pre {
  background-color: #f8f8f8;
  padding: 20px;
  overflow-x: auto;
}

blockquote {
  color: #666;
  margin: 0;
  padding-left: 1em;
  border-left: 0.5em #eee solid;
}

nav h1 a {
  text-decoration: none;
}