<!DOCTYPE html>
<html>
<head>
    <title>Yoshi Carroll</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Yoshi Carroll</h1>
    </header>
    <main>
        <ul>
            {% for post in posts %}
            <li>
                <a href="{{ post.slug }}/">{{ post.title }}</a>
                <p>{{ post.date.strftime('%B %d, %Y') }}</p>  <!-- Display the date -->
                <p>{{ post.summary }}...</p>  <!-- Display the summary -->
            </li>
        {% endfor %}
        
        </ul>
    </main>
    <footer>
        <p>&copy; 2023 Yoshi Carroll</p>
    </footer>
</body>
</html>
