<!DOCTYPE html>
<html>
<head>
    <title>Yoshi Carroll</title>
    <link rel="stylesheet" href="/static/styles.css">
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <header>
        <h1>Yoshi Carroll</h1>
    </header>
    
    <main>
        {% for post in posts %}
            <div class="date">
                <div class="month">{{ post.date.strftime('%B') }}</div>
                <div class="year">{{ post.date.strftime('%Y') }}</div>
            </div>
            <div class="day">{{ post.date.strftime('%d') }}</div>
            <div class="post-details">
                <h2><a href="{{ post.slug }}/">{{ post.title }}</a></h2>
                <p>{{ post.summary }}...</p>
            </div>
        {% endfor %}
    </main>
    
    
    <footer>
        <p>&copy; 2023 Yoshi Carroll</p>
    </footer>
</body>
</html>
