<!DOCTYPE html>
<html>
<head>
    <title>Yoshi Carroll</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Yoshi Carroll</h1>
    </header>
    <main>
        <ul>
            {% for post in posts %}
            <li>
                <div class="date">
                    <span class="day">{{ post.date.strftime('%d') }}</span>                    
                    <span class="month">{{ post.date.strftime('%B') }}</span>
                    <span class="year">{{ post.date.strftime('%Y') }}</span>
                </div>
                <div>
                    <h2><a href="{{ post.slug }}/">{{ post.title }}</a></h2>
                    <p>{{ post.summary }}...</p>
                </div>
            </li>            
        {% endfor %}
        
        </ul>
    </main>
    <footer>
        <p>&copy; 2023 Yoshi Carroll</p>
    </footer>
</body>
</html>
