<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/styles.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>
<body>
    <header>
        <nav>
            <h1><a href="/">Yoshi Carroll</a></h1>            
        </nav>
    </header>
    <main>
        <article>
            <h1>{{ title }}</h1>
            {{ content|safe }}
        </article>
        {% if backlinks %}
        <section>
            <h6>Backlinks</h6>
            <ul>
                {% for backlink in backlinks %}
                <li><a href="/{{ backlink.slug }}/">{{ backlink.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %}
    </main>
    <footer>
        <p>&copy; 2023 Yoshi Carroll</p>
    </footer>
</body>
</html>
